<% @trip.links.each do |link| %>
	<% if link.persisted? %>
		<dd id="link_<%= link.id %>">
			<%= link_to link.title, link.url %>
			<span class="pull-right">
				<%= link_to edit_trip_link_path(link.trip, link) do %><i class="far fa-edit grey small"></i><% end %>
				<%= link_to [link.trip, link], method: :delete, data: { confirm: 'Are you sure?' } do %><i class="far fa-trash-alt red small"></i><% end -%>
			</span>
		</dd>
	<% end -%>
<% end -%>
