<%# ------------------------------------------------------------------------ begin main content %>

<h1>Editing Note Category</h1>

<%= render 'form', note_category: @note_category %>

<%= link_to 'List All', note_categories_path, class: 'btn btn-secondary' %>
